<div class="container">
  <div class="row">
    <h4>アカウント編集</h4>
    <div class="form">
      <% @user.errors.full_messages.each do |message| %>
        <div class="form__error">
          <%= message %>
        </div>
      <% end %>

      <%= form_tag("/users/#{@user.id}/update") do %>
        <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>">
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
        <input type="submit" value="保存">
      <% end %>
    </div>
  </div>
</div>