<div class="container">
  <div class="row">
    <h4>新規ユーザー登録</h4>
    <div>
      <%= form_tag("/users/create") do %>
        <p>ユーザー名</p>
        <input name="name">
        <p>メールアドレス</p>
        <input name="email">
        <input type="submit" value="新規登録">
      <% end %>
    </div>
  </div>
</div>