<!-- about -->
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <%= image_tag "about.jpg" %>
        </div>
        <div class="card-content black-text">
          <span class="card-title">What is Histgram?</span>
          <p>Image submission type SNS for posting life event.</p>

          <span class="card-title">When to use Histgram?</span>
          <p>When you meet a memorable event.</p>

          <span class="card-title">Who use Histgram?</span>
          <p>Just you.</p>

          <span class="card-title">Why use Histgram?</span>
          <p>To leave your memories.</p>

          <span class="card-title">Where use Histgram?</span>
          <p>Anywhere any fun place.</p>
          
          <span class="card-title">How use Histgram?</span>
          <p>As the soul goes.</p>
        </div>
      </div>
    </div>
  </div>
</div>