.container
  .row
    .col.s12.m12.l12
      .card
        .card-image
          = image_tag "about.jpg"
        .card-content.black-text
          span.card-title
            | What is Histgram?
          p
            | - Image submission type SNS for posting life event.
          span.card-title
            | When to use Histgram?
          p
            | - When you meet a memorable event.
          span.card-title
            | Who use Histgram?
          p
            | - Just you.
          span.card-title
            | Why use Histgram?
          p
            | - To leave your memories.
          span.card-title
            | Where use Histgram?
          p
            | - Anywhere any fun place.
          span.card-title
            | How use Histgram?
          p
            | - As the soul goes.
