<!-- posts -->
<div class="container">
  <div class="row">
    <% @post.each do |post| %>
      <div class="col s6 m4 l3">
        <%= link_to posts_path(post.id) do %>
          <div class="card" style="border-radius:6px;">
            <div class="card-image">
              <!-- <%= link_to(simple_format(post.content), "posts/#{post.id}") %> -->
              <%= image_tag post.image.to_s, :alt => "image" %>
              <i class="material-icons small black-text">favorite_border</i>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<style>
.card-image .material-icons {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
</style>